.regularise-container {
  max-width: 800px;
  font-family: 'Arial', sans-serif;
}

.form-title {
  color: #ec4899;
  margin-bottom: 20px;
}

.regularise-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reg-form-row-from-date {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.form-row-from-date {
  width: 50%;
  gap: 20px;
  display: flex;
  align-items: center;
}
.regularise-to-from{
  width: 50%;
  display: flex;
}
.reg-form-row-from-date label {
  flex: 1 1 100px;
  color: #ec4899;
}
.reg-form-row-from-date input,
.reg-form-row-from-date select,
.remarks-row textarea {
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}
.form-row-from-date input,
.form-row-from-date select,
.remarks-row textarea {
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.form-row label {
  flex: 1 1 100px;
  color: #ec4899;
}

.form-row input,
.form-row select,
.remarks-row textarea {
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

.remarks-row textarea {
  width: 100%;
  resize: none;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.submit-btn {
  background-color: #0b0b3c;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background: transparent;
  color: #0b0b3c;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}
