.Atd-monthly-container {
  padding: 1rem 0;
  font-family: 'DM Sans', sans-serif;
  color: #333;
}

.Atd-table {
  background-color: #fff0f5;
  padding: 1.5rem;
  border-radius: 12px;
  overflow-x: auto;
}

.Atd-table-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid #f0c8dd;
  font-size: 14px;
}

.Atd-header {
  font-weight: bold;
  color: #e91e63;
  border-bottom: 2px solid #e6a9c9;
}

/* Attendance status colors */
.Atd-status.p {
  color: green;
  font-weight: bold;
}

.Atd-status.wo {
  color: #555;
}

.Atd-status.sl {
  color: red;
  font-weight: bold;
}

.Atd-status.hd {
  color: orange;
  font-weight: bold;
}

.Atd-regularise-btn {
  padding: 6px 12px;
  background-color: rgb(236, 82, 108);
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.Atd-approved {
  color: green;
  font-weight: bold;
  padding-left: 10px;
}

.Atd-month-selector {
  margin-bottom: 1rem;
  color: #e91e63;
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.Atd-month-selector select {
    padding: 5px 5px;
    width: 75%; /* or try something like 80%, 50%, etc. */
    max-width: 100px; /* optional limit */
    border-radius: 5px;
    color:#e91e63;
    border: 1px solid rgb(143, 141, 141);
    font-size: 12px;
    box-sizing: border-box;
}

.Atd-no-records {
  text-align: center;
  padding: 1rem;
  color: #888;
}
