.log-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'DM Sans', sans-serif;
}

.log-left {
  flex: 1;
  background: #24145b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-logo-wrapper {
  text-align: center;
  height: 190px;
  width: 380px;
  overflow: hidden;
  object-fit: cover;
}

.log-logo-wrapper img {
  width: 100%;
  height: 100%;
}

.log-logo-text {
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

.log-logo-text span {
  color: #f78ab0;
}

.log-tagline {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 8px;
  color: #d8d8d8;
}

.log-right {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-form-box {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.log-form-box h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.log-input-field {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  margin: 10px 0;
  background-color: #F3F3F3;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.log-password-wrapper {
  position: relative;
}

.log-toggle-btn {
  position: absolute;
  padding: 0px;
  top: 18px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.log-login-button {
  width: 100%;
  padding: 12px;
  background-color: #1c2b83;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

.log-login-button:hover {
  background-color: #0f1a4f;
}

.log-btn-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.log-links {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 13px;
  color: #555;
}

.log-links a {
  color: #1c2b83;
  text-decoration: none;
  transition: 0.3s ease;
}

.log-links a:hover {
  text-decoration: underline;
}

.log-error-msg {
  background-color: #ffe6e6;
  color: #d10000;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 10px;
}
